## https://linuxize.com/post/gitignore-ignoring-files-in-git/
# files anywhere
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Renviron
oxforddown-master.zip
renv.lock
# folders
analysis-justo/
bw-cluster/
data/
data-boekstegers_felix/
data-carol/
Expose/
img/
meetings/
output/
oxforddown-master/
paper-backup/
renv/
reports/
SchwedaMSc/
scripts/explain-discuss/
scripts/test/
sent/
templates/
Vorlagen/
writing/
# subdirectories
scripts/old/
#scripts/test/
presentation/robustMR_files/
presentation/old/
# files in subdirs
presentation/robustMR.html
.secret
.Rdata
.httr-oauth
