## https://linuxize.com/post/gitignore-ignoring-files-in-git/
# files anywhere
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# folders
analysis-justo/
data/
data-boekstegers_felix/
data-carol/
Expose/
img/
meetings/
output/
paper-backup/
reports/
SchwedaMSc/
templates/
Vorlagen/
# subdirectories
scripts/old/
scripts/test/
presentation/robustMR_files/
presentation/old/
# files in subdirs
presentation/robustMR.html
.secret
